*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.switch{
    position: relative;
    display: inline-block;
    margin-top: 80px;
    width: 60px;
    height: 34px;
    margin-left: 90%;
}

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: red;
    transition: 0.4s;
    border-radius: 34px;
    border: 2px solid black;
}

.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider::before{
    transform: translateX(26px);
}





