*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #35005e;
}

.box{
    min-width: 400px;
}

.box input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 0 0 0 12%;
}

.box select{
    position: relative;
    left: -3px;
    border: none;
    outline: none;
    background: #fff;
    font-size: 14px;
    padding: 15px 16px 13px;
    margin: -2px;
    width: 180px;
}

.space{
    display: inline-block;
    width: 20px;
    color: #fff;
}

input[type="submit"]{
    border-radius: 25px 25px 25px 25px;
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}


.tras{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 28px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
}








/*
body{
   font-family: sans-serif;
   background: url(img/image1.JPG);
   background-size: cover;
}

h1{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}

input
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}
*/